#main
{
    background-color: #eeeeee;
    border: 1px solid #dddddd;
/*    display: none;*/
}

input
{
    font-family: Arial;
}

a
{
    text-decoration: none;
    color: #0000cc;
}

.toolbutton
{
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
    width: 25px;
}

#lunartitle img
{
    margin-right: 10px;
    margin-top: -2px;
    float: left;
}

#zoomdiv
{
    position: fixed;
    background-color: white;
    padding: 5px;
    margin: 5px;
    color: #666;
    font-size: 13px;
    width: 40px;
    height: 12px;
    opacity: 0;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

#drawSpace
{
    position: fixed;
    width: calc(100% - (248px + 20px + 1px));
    height: calc(100% - (32px*3));
    margin: 10px;
    margin-top: 45px;
    overflow: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    border-radius: 4px;
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#lunartitle
{
    font-weight: 500;
}

#title
{
    background-color: black;
    color: white;
    padding: 10px;
    width: calc(100% - (248px + 20px + 1px));
    position: fixed;
    z-index: 1000;
    font-weight: 100;
}

#timeslide
{
    width: calc(100% - 150px);
    float: right;
    margin-right: 25px;

}

.context_menu
{
    background-color: white;
    border: 1px solid #bbb;
    position: fixed;
    z-index: 10000;
    padding: 3px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
}

#timebar
{
    background-color: black;
    color: white;
    padding: 10px;
    bottom: 0;
    width: calc(100% - (248px + 20px + 1px));
    position: fixed;
    z-index: 1000;
}

#tabs
{
    margin-left: -1px;
    margin-top: -1px;   
    position: fixed;
}

.tab:not(.active_tab)
{
    line-height: 1.25;
    color: #222;
}

table
{
    width: 100%;
}

tr > td:first-child
{
    text-align: right;
    width: 50px;
    padding-right: 20px;
    font-weight: 100;
}

tr > td:nth-child(2)
{
    font-size: 13px;
    font-weight: 100;
}

td
{
    height: 23px;
}

input
{
     font-size: 13px;
    width: 130px;
}

#mapheight, #mapwidth, #scriptvalue
{
    width: 40px;
    text-align: right;
    font-size: 13px;
}

.side_content
{
    display: none;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    font-weight: 100;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.side_content table
{
    margin-left: 10px;
}

.side_notification
{
    font-size: 10px;
    text-align: center;
    width: 100%;
    margin-left: -6px;
    margin-bottom: 5px;
    font-style: italic;
}

.context_elem
{
    height: 13px;
    font-size: 13px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 17px;
    cursor: default;
}

.context_elem:hover
{
    background-color: #238df5;
    color: white;
}

.side_content h4
{
    font-weight: 300;
    font-size: 17px;
    width: 244px;
    z-index: 700;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 2px;
    background-color: #eee;
    text-align: center;
    color: black;
}

.inner_input
{
    line-height: 30px;
    margin-left: 15px;
    font-size: 13px;
    text-align: left;
}

.active_side
{
    display: inline-block !important;
}

.active_tab
{
    border: 1px solid black !important;
    background-color: #f8f8f8 !important;
    border-bottom: 0px !important;
    font-weight: 400 !important;
/*    margin-top: -1px;*/
}

.tab
{
    float: left;
    border: 1px solid #cccccc;
    padding: 6px;
    width: 69px;
    text-align: center;
    background-color: #ddd;
    border-bottom: 1px solid black;
    font-weight: 100;
    display: inline-block;
    color: black;
    text-decoration: none;
    height: 16px;
    cursor: pointer;
}

#toolbar
{
    float: right;
    margin-top: -6px;
    margin-bottom: -10px;
    cursor: pointer;
/*    display: none;*/
}

#sidebar
{
    right: 0;
    width: 248px;
    height: 100%;
    border: 1px solid black;
    position: fixed;
    z-index: 1000;
    background-color: #f8f8f8;
/*    pointer-events: none;*/
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

#timebox
{
    border: 0px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: -5px;
    margin-bottom:-10px;
    height: 30px;
    width: 108px;
}

.timeval
{
    width: 80px;
}

input[type="time"]::-webkit-clear-button {
    display: none;
}